.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep
data/raw/job_postings/*
!data/raw/job_postings/.gitkeep
data/raw/students/*
!data/raw/students/.gitkeep
*.parquet
.env
.aws/
*.egg-info/
.DS_Store
dashboard_cache/
